.container{
    width: 400px;
    height: 450px;
}

.box-anos{
    margin-bottom: 20px;
        }

.box-meses{
    margin-bottom: 20px; 
}

.box-dias{
    margin-bottom: 20px;
}

.box-resultado{
    margin-bottom: 10px;
}

#input-resultado {
    height: 200px;
    width: 370px;
}