*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset{
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 350px;
}

fieldset legend{
    margin-left: 15px;
}


.lbl-input{
    margin: 5px 13px;
}

.input{
    margin: 0px 0px 15px 17px;
    width: 150px;
    padding-left: 5px;
}


#box-result{
    display: flex;
    flex-direction: column;
}

#lbl-resultado{
    margin-left: 13px;
}

#resultado-input{
    margin-left: 13px;
    margin-bottom: 7px;
    width: 300px;
    height: 100px;
    padding-left: 5px;
}

#btn-calcular{
    width: 60px;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

