*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#atividade01{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 350px;
}

#atividade01 legend{
    margin-left: 15px;
}

#atividade01 label{
    margin-bottom: 2px;
    margin-left: 13px;
    margin-top: 10px;
}

#atividade01 input{
    margin-bottom: 5px;
    margin-left: 20px;
    width: 150px; ;
    padding-left: 5px;
}

#atividade01 div{
    display: flex;
    flex-direction: column;
}

#atividade01 div textarea{
    width: 300px;
    height: 110px;
    margin-left: 13px;
    margin-bottom: 5px;
    padding: 5px;
}

#atividade01 div button{
    width: 60px;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
/*------------------------------------------------------------------------------>*/
#atividade02{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 350px;
}

#atividade02 legend{
    margin-left: 15px;
}

#atividade02 label{
    margin-bottom: 2px;
    margin-left: 13px;
    margin-top: 10px;
}

#atividade02 input{
    margin-bottom: 5px;
    margin-left: 20px;
    width: 150px; ;
    padding-left: 5px;
}

#atividade02 div{
    display: flex;
    flex-direction: column;
}

#atividade02 div textarea{
    width: 300px;
    height: 110px;
    margin-left: 13px;
    margin-bottom: 5px;
    padding: 5px;
}

#atividade02 div button{
    width: 60px;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
/*------------------------------------------------------------------------------>*/
#atividade03{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 350px;
}

#atividade03 legend{
    margin-left: 15px;
}

#atividade03 label{
    margin-bottom: 2px;
    margin-left: 13px;
    margin-top: 10px;
}

#atividade03 input{
    margin-bottom: 5px;
    margin-left: 20px;
    width: 150px; ;
    padding-left: 5px;
}

#atividade03 div{
    display: flex;
    flex-direction: column;
}

#atividade03 div textarea{
    width: 300px;
    height: 110px;
    margin-left: 13px;
    margin-bottom: 5px;
    padding: 5px;
}

#atividade03 div button{
    width: 110px;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
/*------------------------------------------------------------------------------>*/
#atividade04{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 350px;
}

#atividade04 legend{
    margin-left: 15px;
}

#atividade04 label{
    margin-bottom: 2px;
    margin-left: 13px;
    margin-top: 10px;
}

#atividade04 input{
    margin-bottom: 5px;
    margin-left: 20px;
    width: 150px; ;
    padding-left: 5px;
}

#atividade04 button{
    width: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}