*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.atividade{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 350px;
}

.atividade legend{
    margin-left: 15px;
}

.atividade label{
    margin-bottom: 2px;
    margin-left: 13px;
    margin-top: 10px;
}

.atividade input{
    margin-bottom: 5px;
    margin-left: 20px;
    width: 150px; ;
    padding-left: 5px;
}

.atividade div{
    display: flex;
    flex-direction: column;
}

.atividade div textarea{
    width: 300px;
    height: 110px;
    margin-left: 13px;
    margin-bottom: 5px;
    padding: 5px;
}

.atividade div button{
    width: 60px;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
/*------------------------------------------------------------------------------>*/

